.background {
    background-color: rgb(0, 102, 0);
}

.welcome {
    visibility: visible;
    font-size: 1.5vw;
    color:rgb(224, 224, 224);
    margin-left: 0.75%;
}

.map {
    visibility: hidden;
}

.house {
    visibility: hidden;
}

.map-container {
    position: relative;
}

.map-image {
    width: 500px;
    height: 500px;
    position: absolute;
    object-fit: contain;
    padding-top: 1%;
}

.test {
    visibility: hidden;
    position: absolute;
    width: 32px;
    height: 140px;
    left: 530px;
    background-color: rgba(0,0,255,0.5);
}

.box-construct{
    width: 5in;
    height: 5.5in;
    position: relative;
    padding: 2%;
    margin: auto;
}

.textbox {
    font-size: 1.5vw;
    font-family: verdana;
    background-color: rgb(207, 220, 252);
    border: 3.5px solid black;
    border-radius: 15px;
    margin: 1%;
    padding-top: 0.55%;
    padding-bottom: 0.55%;
    padding-left: 2.25%;
    padding-right: 2.25%;
    display: none;
}

.hiddenText {
    display: none;
}

.dialogue-button {
    width: 1.5in;
    background-color: rgb(207, 220, 252);
    border: 3px solid black;
    cursor: pointer;
    font-size: 4.5vw;
    transition-duration: 0.4s;
    float: right;
    position: relative;
    margin: 0.5%
}
.dialogue-button:hover {
    background-color: rgb(161, 187, 255);
}

.dialogueChoice-button {
    width: 1.5in;
    background-color: rgb(207, 220, 252);
    border: 3px solid black;
    cursor: pointer;
    font-size: 4.5vw;
    transition-duration: 0.4s;
    float: right;
    position: relative;
}
.dialogueChoice-button:hover {
    background-color: rgb(161, 187, 255);
}

.user-choice-button {
    background-color: rgb(207, 220, 252);
    border: 3px solid black;
    cursor: pointer;
    font-size: 1.5vw;
    transition-duration: 0.4s;
    position: relative;
    display: none;
    padding: 1%;
    margin: 0.5%;
}

.user-choice-button:hover {
    background-color: rgb(161, 187, 255);
}

.start-button {
    color: black;
    background-color: rgb(59, 218, 59);
    border: 5px solid black;
    cursor: pointer;
    font-size: 2.5vw;
    transition-duration: 0.4s;
    position: absolute;
    margin-top: 2%;
    padding: 1%;
}
.start-button:hover {
    background-color: rgb(225, 251, 224);
}

.solution-button {
    padding: 0.5%;
    font-size: 1.5vw;
    border: 3.5px solid black;
    background-color: rgb(207, 220, 252);
    float: left;
    margin-top: 1%;
    margin-left: 10%;
    cursor: pointer;
}
