.background {
    background-color: darkgreen;
}

.map {
    visibility: visible;
}

.house {
    visibility: hidden;
}
.house-solution {
    visibility: hidden;
}

.map-container {
    position: relative;
}

.map-image {
    width: 5in;
    height: 5.5in;
    position: absolute;
    object-fit: contain;
    padding-top: 1%;
    padding-left: 32%;
}

.box-construct{
    /* background-color: blue; */
    width: 5in;
    height: 5.5in;
    position: relative;
    padding-bottom: 2%;
    padding-left: 30%;
}

.house-solution{
    background-color: black;
    width: 3in;
    height: 3in;
    position: absolute;
    padding-top: 2%;
    padding-left: 10%;
}

.textbox {
    font-size: 1.5vw;
    font-family: verdana;
    background-color: rgb(207, 220, 252);
    border: 3.5px solid black;
    border-radius: 15px;
    margin: 1%;
    padding-top: 0.55%;
    padding-bottom: 0.55%;
    padding-left: 2.25%;
    padding-right: 2.25%;
}
